In [44]:
import scipy.stats as stats
import pandas as pd

In [45]:
file = "Merged/merged_data.csv"
df = pd.read_csv(file)
df

,Month,GDP (million),Percent GDP,CPI,Percent CPI,Commodity Index,Seasonally adjusted unemployment (%),Owner Occ. Hsing Dbt / Inc,Interest Rates (%pa),Cash Rate (%),AUD/USD exchange rate
0,Jun-1922,NaN,NaN,2.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sep-1922,NaN,NaN,2.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Dec-1922,NaN,NaN,2.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mar-1923,NaN,NaN,2.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Jun-1923,NaN,NaN,2.8,2.3,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
401,Sep-2022,553036.0,5.9,128.4,7.3,114.8,3.6,109.1,6.80,2.21,0.6502
402,Dec-2022,555690.0,2.7,130.8,7.8,107.9,3.5,108.8,7.55,3.01,0.6775
403,Mar-2023,NaN,NaN,NaN,NaN,106.2,NaN,NaN,NaN,3.51,0.6712
404,Jun-2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405,Sep-2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
pop_exchange = df.loc[:, ["AUD/USD exchange rate"]]
pop_exchange.count()
pop_exchange = pop_exchange.dropna(how='any')
pop_exchange.head()

     AUD/USD exchange rate
351                 0.9159
352                 0.8523
353                 0.9667
354                 1.0163
355                 1.0334

In [47]:
pop_exchange.mean()

AUD/USD exchange rate    0.817077
dtype: float64

In [48]:
df.columns

Index(['Month', 'GDP (million)', 'Percent GDP', 'CPI', 'Percent CPI',
       'Commodity Index', 'Seasonally adjusted unemployment (%)',
       'Owner Occ. Hsing Dbt / Inc', 'Interest Rates (%pa)', 'Cash Rate (%)',
       'AUD/USD exchange rate'],
      dtype='object')

In [49]:
pop_household = df.loc[:, ["Owner Occ. Hsing Dbt / Inc"]]
pop_household.count()
pop_household = pop_household.dropna(how='any')
pop_household = pop_household/100
pop_household.head()

     Owner Occ. Hsing Dbt / Inc
351                       0.833
352                       0.838
353                       0.835
354                       0.830
355                       0.823

In [50]:
pop_household.mean()

Owner Occ. Hsing Dbt / Inc    0.923288
dtype: float64

In [51]:
pop_cash_rate = df.loc[:, ["Cash Rate (%)"]]
pop_cash_rate.count()
pop_cash_rate = pop_cash_rate.dropna(how="any")
pop_cash_rate

     Cash Rate (%)
216           8.02
217           7.46
218           6.37
219           7.58
220           9.52
..             ...
399           0.05
400           0.69
401           2.21
402           3.01
403           3.51

[188 rows x 1 columns]

In [52]:
pop_cash_rate.mean()

Cash Rate (%)    6.944787
dtype: float64

In [53]:
pop_unemployment = df.loc[:, ["Seasonally adjusted unemployment (%)"]]
pop_unemployment.count()
pop_unemployment = pop_unemployment.dropna(how="any")
pop_unemployment.head()

     Seasonally adjusted unemployment (%)
363                                   5.6
364                                   5.7
365                                   5.7
366                                   5.9
367                                   5.9

In [54]:
pop_unemployment.mean()

Seasonally adjusted unemployment (%)    5.4525
dtype: float64

In [55]:
pop_gdp = df.loc[:, ["GDP (million)"]]
pop_gdp.count()
pop_gdp = pop_gdp.dropna(how="any")
pop_gdp

     GDP (million)
149        68834.0
150        69442.0
151        69787.0
152        71718.0
153        71878.0
..             ...
398       541273.0
399       544364.0
400       549274.0
401       553036.0
402       555690.0

[254 rows x 1 columns]

In [56]:
pop_gdp.mean()

GDP (million)    255409.401575
dtype: float64

In [57]:
pop_cpi = df.loc[:,["CPI"]]
pop_cpi.count()
pop_cpi = pop_cpi.dropna(how="any")
pop_cpi

       CPI
0      2.8
1      2.8
2      2.7
3      2.7
4      2.8
..     ...
398  121.3
399  123.9
400  126.1
401  128.4
402  130.8

[403 rows x 1 columns]

In [58]:
pop_cpi.mean()

CPI    36.315385
dtype: float64

In [59]:
pop_commodity = df.loc[:,["Commodity Index"]]
pop_commodity.count()
pop_commodity = pop_commodity.dropna(how="any")
pop_commodity

     Commodity Index
241             20.2
242             20.1
243             21.9
244             22.2
245             21.7
..               ...
399            109.7
400            118.0
401            114.8
402            107.9
403            106.2

[163 rows x 1 columns]

In [60]:
pop_commodity.mean()

Commodity Index    42.262577
dtype: float64

In [61]:
#Calculate Independent (Two sample) t-test
#exchange vs cash rate
stats.ttest_ind(pop_cash_rate, pop_exchange, equal_var=False)

Ttest_indResult(statistic=array([17.41339891]), pvalue=array([4.57559641e-41]))

In [62]:
#household dti vs cash rate
stats.ttest_ind(pop_cash_rate, pop_household, equal_var=False)

Ttest_indResult(statistic=array([17.12174616]), pvalue=array([3.47589796e-40]))

In [63]:
#unemployment vs cash rate
stats.ttest_ind(pop_cash_rate, pop_unemployment, equal_var=False)

Ttest_indResult(statistic=array([3.97598112]), pvalue=array([9.48119002e-05]))

In [64]:
#gdp vs cash rate
stats.ttest_ind(pop_cash_rate, pop_gdp, equal_var=False)

Ttest_indResult(statistic=array([-28.60594281]), pvalue=array([2.94386466e-81]))

In [65]:
#cpi vs cash rate
stats.ttest_ind(pop_cash_rate, pop_cpi, equal_var=False)

Ttest_indResult(statistic=array([-14.86012592]), pvalue=array([1.43542606e-40]))

In [66]:
#commodity index vs cash rate
stats.ttest_ind(pop_cash_rate, pop_commodity, equal_var=False)

Ttest_indResult(statistic=array([-20.32548244]), pvalue=array([5.00672997e-48]))

In [67]:
# for cash rate and exchange rate
#H0: exchange rate does not affect the change of cash rate
#H1: exchange rate is an important factor that influences cash rate

#As p-value = 4.57559641e-41, which is smaller that 0.05.
#H0 is rejected, which means exchange rate is an important factor that influences cash rate.


# for cash rate and household debt to income index
#H0: household debt to income index does not affect the change of cash rate
#H1: household debt to income index is an important factor that influences cash rate

#As p-value = 3.47589796e-40, which is smaller that 0.05.
#H0 is rejected, which means 3.47589796e-40 is an important factor that influences cash rate.